* {
  padding: 0px;
  margin: 0px;
}
header {
  position: sticky;
  top: 0;
}
nav {
  background-color: rgb(155, 155, 155);
  padding: 23px;
}
ul li {
  display: inline;
  padding: 43px;
  color: antiquewhite;
}
.dbbas {
  background-color: pink;
  display: flex;
  padding: 50px;
  text-align: center;
  margin: 22px;
}
.dbba1 {
  background-color: black;
  height: 500px;
  width: 50%;
  margin: 0px 33px;
}
.dbba2 {
  background-color: rgb(87, 87, 87);
  height: 500px;
  width: 50%;
  margin: 0px 33px;
}
.content {
  background-color: rgb(103, 122, 142);
  color: antiquewhite;
  padding: 23px;
  margin: 34px;
  border-radius: 45px;
}
.logo img {
  position: fixed;
  border-radius: 35px;
  top: 90%;
  right: 1%;
}
footer {
  background-color: green;
  padding: 8px 5px;
}
