*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
ul li{
    display: flex;
    margin: 0px 23px;
    align-items:flex-end;
    cursor: pointer;
}
.logo{
    margin: 0px 5px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.container{
    /* background-color: black; */
    height: 80vh;
    width: 50vw;
    display: grid;
    margin: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.language{
    /* border: 2px solid red; */
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.language div{
    padding-bottom: 35px;
    font-weight: 600;
    font-family: sans-serif;
}
.language span a{
    border-radius: 6px;
    text-decoration: none;
    
    padding: 4px 9px;
    background-color: #5cb85c;
    margin: 1px 0px;
    /* border: 2px solid whit */
    color: aliceblue;
}